@import url(./global.css);

// =========== Body =============
body {
  scroll-snap-type: y proximity;
  // scroll-padding: 4rem;
  scroll-snap-stop: always;
  .floaters {
    display: flex;
    gap: 0.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    width: fit-content;
    .phone {
      transform: rotateY("90deg");
    }
    .floating {
      border: 1px solid black;
      border-radius: 50%;
      background: white;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 200ms ease-in-out;
      color: black;
      text-decoration: none;
      &:hover {
        background: rgb(207, 207, 207);
        color: black;
        transition: 200ms ease-in-out;
      }
      i {
        width: fit-content;
      }
    }
    .whatsapp {
      i {
        scale: 1.5;
      }
    }
    .phone {
      i {
        transform: rotateY(180deg);
      }
    }
  }
}

section,
header {
  // height: 100vh;
  min-height: 100vh;
  height: fit-content;
}

section,
header,
footer {
  scroll-snap-align: start;
  // scroll-margin: 4rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fcc767;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e29c1d;
}

// =========== Class CSS ===============
.navy_text {
  color: #091f66;
  // -webkit-text-stroke-color: #DBC467;
  // -webkit-text-stroke-width: 1px;
  text-shadow: 1px 0 var(--palette-secondary-orange),
    -1px 0 var(--palette-secondary-orange),
    0 1px var(--palette-secondary-orange),
    0 -1px var(--palette-secondary-orange),
    1px 1px var(--palette-secondary-orange),
    -1px -1px var(--palette-secondary-orange),
    1px -1px var(--palette-secondary-orange),
    -1px 1px var(--palette-secondary-orange);
}

// ============ Header ===============
header {
  // display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #f5f5f5 60%, #ffa106 40%);

  .header_wrapper {
    display: flex;
    justify-content: space-around;
    height: 85%;
    width: 100%;
  }

  .yellow_text {
    color: #fd9609;
  }

  .roboto_slab {
    font-family: var(--font-primary-header);
    text-transform: uppercase;
  }

  .roboto {
    font-family: var(--font-primary-subheader);
  }

  .inter {
    font-family: var(--font-primary-text);
  }

  .header_left {
    align-self: center;
    width: 30%;

    p {
      font-family: var(--font-primary-text);
      line-height: 28px;
      letter-spacing: 0.54px;
    }

    .buttons {
      display: flex;
      gap: 30px;

      a {
        text-decoration: none;
        margin: 0;
        width: fit-content;
        -webkit-tap-highlight-color: transparent;

        button {
          display: flex;
          align-items: center;

          width: fit-content;
          padding: 10px 32px;
          font-size: 16px;
          font-family: var(--font-primary-text);
          line-height: 28px;
          letter-spacing: 0.48px;
          gap: 1.8rem;
          cursor: pointer;

          i {
            width: fit-content;
          }

          span {
            width: max-content;
          }
        }

        .enquire {
          border: 1px solid #000;
          background-color: white;
        }

        .enquire:hover {
          background-color: #d6d6d6;
          color: black;
          transition: 200ms ease-in-out;
        }

        .learn_more {
          background-color: #000;
          color: white;
          border: 1px solid #000;
        }

        .learn_more:hover {
          background-color: #242424;
          color: white;
          transition: 200ms ease-in-out;
        }
      }
    }
  }

  .carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-self: center;
    height: 70vh;
    width: 50vw;
    padding: 50px;
    border-radius: 15px;
    background: rgb(233 233 233 / 20%);

    backdrop-filter: blur(12px);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .slide {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: 200ms opacity ease-in-out;
      transition-delay: 200ms;
      padding: 80px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
      }
    }

    .slide[data-active] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0ms;
    }

    .carousel-button {
      width: 2.5rem;
      height: auto;
      position: absolute;
      z-index: 2;
      background: none;
      border: none;
      font-size: 24px;
      top: 50%;
      transform: translateY(-50%);
      color: #ff9900;
      cursor: pointer;
      line-height: 1ch;
      align-items: center;
      padding: 0.5rem;

      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    }

    .carousel-button:hover,
    .carousel-button.prev {
      left: 1rem;
    }

    .carousel-button.next {
      right: 1rem;
    }
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

//========== Navbar ============
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.5rem;

  .hamburger {
    display: none;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;

    .nav-item {
      // margin-left: 2rem;
      list-style: none;
      width: fit-content;

      .nav-link {
        color: #222222;
        font-size: 16px;
        font-family: var(--font-primary-menu);
        font-weight: 500;
        letter-spacing: 0.36px;
        text-decoration: none;
        position: relative;
      }

      .nav-link::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 1.9px;
        background-color: #f5c66f;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        // transform: translateX(-50%);
      }

      .nav-link:hover {
        color: #494949;
      }

      .nav-link:hover::after {
        width: 100%;
        left: 0;
      }
    }

    // .nav-item:not(:first-child) {
    //   .nav-link{
    //     color: #ffffff;
    //   }
    // }
  }

  .nav-logo {
    display: flex;
    flex-direction: row;

    img {
      width: 43.154px;
      height: 44px;
    }

    p {
      color: #000;
      font-size: 16px;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      letter-spacing: 0.3px;
      margin: 0.02rem 0.3rem;
    }

    .demo {
      font-size: 12px;
    }

    span {
      display: block;
      width: 45px;
      height: 2px;
      background: #fd8106;
      margin: 0 0 0 5px;
    }
  }
}

// ============ About Us ============]
#aboutus {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  .wrapper {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;

    .about-image {
      position: relative;
      border: 5px solid #f8b508;
      border-radius: 50%;
      max-height: 515px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      max-width: 515px;

      .image-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        // border: 1px solid black;
        max-height: 505px;
        border-radius: 50%;

        img {
          position: relative;
          z-index: 5;
          max-height: 505px;
          object-fit: contain;
          height: 100vw;
          width: 100vw;
        }
      }
    }

    .about-image::after {
      content: "";
      border-radius: 50%;
      background-color: rgba(250, 182, 10, 0.4);
      position: absolute;
      width: 75%;
      margin: auto;
      // border: 1px solid black;
      height: 75%;
    }

    .content {
      h1 {
        margin: 1rem 0;
      }

      p {
        color: #6c6c6c;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
    }
  }
}

//============ Facilities ==========
.facilities {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // width: 90%;
  // margin: auto;
  justify-content: space-evenly;
  .wrapper {
    width: 90%;
    margin: auto;
    // border: 1px solid black;
    padding: 3rem 0;
    .flex {
      align-items: center;
      // border: 1px solid red;
      height: fit-content;
      position: relative;
    }
    // .flex::after {
    //   --blur-size: 10rem;
    //   content: "";
    //   width: var(--blur-size);
    //   background-color: #fcc867;
    //   height: var(--blur-size);
    //   bottom: 5rem;
    //   border-radius: 50%;
    //   left: 10rem;
    //   position: absolute;
    //   filter: blur(75px);
    // }
    .flex::before {
      --blur-size: 10rem;
      content: "";
      width: var(--blur-size);
      background-color: var(--palette-primary-orange);
      opacity: 0.35;
      height: var(--blur-size);
      border-radius: 50%;
      left: 20%;
      top: 50%;
      position: absolute;
      filter: blur(75px);
    }
    h1 {
      width: fit-content;
      height: fit-content;
    }
    h3 {
      color: rgb(153, 153, 153);
      font-weight: 300;
      margin: 1.25rem 0;
    }
    .facilities_img {
      width: 70%;
      height: auto;
      position: relative;
      // border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        object-fit: contain;
        width: auto;
        // height: 100%;
        height: 70vh;
        position: relative;
        z-index: 10;
        transition: 200ms ease;
      }
      img:hover {
        filter: drop-shadow(6px 10px 1px rgba(0, 0, 0, 0.45));
      }
    }
    ul {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      justify-content: start;
      align-content: center;
      gap: 1rem;
      // padding: 5rem;
      li {
        position: relative;
        z-index: 10;
        background: white;
        padding: 1.5rem 1rem;
        border-radius: 16px;
        flex: 0 0 45%;
        width: fit-content;
        height: fit-content;
        // margin-block: 2vw;
        font-family: var(--font-primary-text);
        font-size: 16px;
        span {
          background-color: #ffcb8e;
          border: 1px solid black;
          border-radius: 50%;
          padding: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}

//============ Contact ==========
.contact {
  background: #f5f5f5;
  // padding: 50px 30px;
  display: flex;
  justify-content: space-around;
  // font-family: Poppins;
  color: white;
  display: flex;
  align-items: center;

  .contact-card {
    position: relative;
    background: linear-gradient(270deg, #f1bf62 0%, #ff912e 100%);
    padding: 5rem 5rem;
    width: 75%;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;

    .wrapper {
      display: flex;
      gap: 7rem;
      align-items: center;

      * {
        z-index: 10;
      }
    }

    .contact-rings {
      position: absolute;
      right: -50%;
      top: -25%;
      opacity: 0.3;
    }
  }

  .contact-header {
    font-family: var(--font-primary-header);
    // color: #091f66;
    color: white;
    // font-size: 42px;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    // margin-bottom: 1rem;
    text-align: left;
    // text-shadow: 1px 0 var(--palette-secondary-orange),
    //   -1px 0 var(--palette-secondary-orange),
    //   0 1px var(--palette-secondary-orange),
    //   0 -1px var(--palette-secondary-orange),
    //   1px 1px var(--palette-secondary-orange),
    //   -1px -1px var(--palette-secondary-orange),
    //   1px -1px var(--palette-secondary-orange),
    //   -1px 1px var(--palette-secondary-orange);
  }

  .contact1 {
    // border: 1px solid black;
    width: fit-content;

    .contact-content {
      color: white;
      font-size: 14px;
      font-family: Inter;
      line-height: 28px;
      letter-spacing: 0.48px;
      text-align: left;
      max-width: 32ch;
      margin: 1rem 0;
    }

    .contact-info-wrapper {
      display: flex;
      flex-direction: column;
      // border: 1px solid black;
      width: fit-content;
      gap: 0.75rem;

      .contact-info {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        color: white;
      }

      .contact-info i {
        // border: 1px solid black;
        border-radius: 50%;
        font-size: 20px;
        width: fit-content;
        padding: 0.5rem;
        // background-color: white;
        color: white;
      }
    }

    .iframe {
      iframe {
        height: 205px;
        width: 350px;
      }

      overflow: hidden;
      height: 200px;
      width: 350px;
      border: 3px solid white;
      box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.1);
      margin: 1.5rem 0;
    }
  }

  .contact2 {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    // background: #ffffff;
    height: 100%;
    width: 100%;

    form {
      background-color: white;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 100%;
      border-radius: 2px;
      box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.1);
      height: 100%;
      // padding: 30px 5%;

      .input-box {
        width: auto;
        font-size: 12px;
        border-radius: 5px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        outline: none;
        border: 1px solid #a3a3a3;
      }

      .input-textarea {
        width: auto;
        resize: none;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #a3a3a3;
        // margin-bottom: 8px;
        outline: none;
        padding: 0.5rem 1rem 0.5rem 1rem;
        outline: none;
      }

      .form-submit {
        width: fit-content;
        border-radius: 4px;
        background: #f2bb5e;
        color: #ffffff;
        font-size: 12px;
        cursor: pointer;
        outline: none;
        border: 1px solid #f2bb5e;
        padding: 0.5rem 1.5rem;
        transition: 100ms ease;
      }

      .form-submit:focus {
        outline: 1px solid black;
      }

      .form-submit:hover {
        background: #d19b3e;
        color: #ffffff;
        font-size: 12px;
        cursor: pointer;
        outline: none;
        border: 1px solid #f2bb5e;
        padding: 0.5rem 1.5rem;
      }

      .error-alert {
        // display: none;
        color: red;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
}

// *---------------------------- Media Queries ----------------------------* //

// ==================== Tablet ====================
@media only screen and (max-width: 821px) {
  body {
    scroll-snap-type: none;
  }

  section,
  header,
  footer {
    scroll-snap-align: none;
  }
  section {
    height: fit-content;
    min-height: 100vh;
  }

  .navbar {
    position: relative;
    z-index: 100;
    padding: 1rem 2rem;
    // background-color: #fff;
    background-color: #f5f5f5;

    .nav-menu {
      position: fixed;
      top: -100%;
      left: 0;
      flex-direction: column;
      // background-color: #fff;
      background-color: #f5f5f5;
      width: 100%;
      align-items: flex-start;
      transition: 0.3s;
      padding: 0;
      height: 100%;
      justify-content: flex-start;
      gap: 0;

      .nav-item {
        margin: 2rem 2.5rem;

        .nav-link {
          font-size: 1rem;
        }
      }
    }

    .nav-menu.active {
      top: 4.5rem;
    }

    .hamburger {
      display: block;
      width: 10%;
      cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .contact {
    .contact-card {
      width: 95%;
      padding: 4rem;
      background: linear-gradient(0deg, #f1bf62 0%, #ff912e 100%) !important;

      .contact-rings {
        position: absolute;
        // border: 1px solid black;
        top: 20%;
        width: 850px;
        opacity: 0.45;
      }

      .wrapper {
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;

        .contact1 {
          gap: 0.75rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          // gap: 1rem;
          justify-content: center;
          align-items: center;
          margin: 0;

          .iframe {
            width: 100%;
            height: 250px;

            iframe {
              width: 100%;
              height: 250px;
            }
          }

          .contact-header {
            text-align: center;
          }

          .contact-content {
            text-align: center;
            margin: auto;
          }
        }
      }
    }
  }

  #aboutus {
    padding: 1rem 0;

    .wrapper {
      flex-wrap: wrap-reverse;
      gap: 3rem;

      .content {
        h1 {
          text-align: center;
        }

        p {
          text-align: justify;
        }
      }

      .about-image {
        margin: auto;
        --image-size: 95vw;
        width: var(--image-size);
        height: var(--image-size);

        .image-wrapper {
          width: var(--image-size);
          height: var(--image-size);
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    height: fit-content;
    background: none;
  }

  .header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: none;

    .header_left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 0;
      margin-top: 20px;

      h1 {
        width: 16ch;
        font-size: 8vw;
        text-align: center;
        font-weight: 700;
        // padding-block: 1rem;
        // padding: 1rem 0;
        margin: 0.5rem 0;
      }

      h3 {
        color: var(--palette-primary-grey);
        font-size: 0.8em;
      }

      h3,
      p {
        width: fit-content;
        text-align: center;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.48px;
        padding: 2rem;
      }

      .buttons {
        width: fit-content;
        gap: 20px;

        a {
          button {
            padding: 10px 32px;
            width: fit-content;

            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.42px;
            pointer-events: none;
          }
        }
      }

      .smudge_1 {
        position: absolute;
        right: 0;
        width: 8rem;
        height: 8rem;
        border-radius: 8rem;
        background: rgba(0, 157, 206, 0.4);
        filter: blur(65px);
      }

      .smudge_2 {
        position: absolute;
        top: 20rem;
        left: 0;
        width: 8rem;
        height: 8rem;
        border-radius: 8rem;
        background: rgba(145, 250, 168, 0.4);
        filter: blur(65px);
      }
    }

    .carousel {
      width: 100%;
      height: 50vh;
      padding: 0;
      background: linear-gradient(90deg, #f5f5f5 40%, #ffa106 60%);
      margin-block: 4rem;
      border-radius: 0;

      .slide {
        padding: 2.5rem;
        background: transparent;
        backdrop-filter: none;
      }
    }
  }
  .facilities {
    .flex {
      flex-direction: column;
    }
  }
}

// =================== PHONE ======================
@media only screen and (max-width: 512px) {
  .contact {
    .contact-card {
      border-radius: 0;
      width: 100%;
      padding: 3rem 1.5rem;
      background: linear-gradient(0deg, #f1bf62 0%, #ff912e 100%) !important;

      .wrapper {
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
        padding: 1rem;

        .contact1 {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
          margin: 0;
          gap: 1.5rem;

          .iframe {
            width: 100%;
            height: 250px;

            iframe {
              width: 100%;
              height: 250px;
            }
          }

          .contact-header {
            font-size: 2.5em;
            text-align: left;
          }

          .contact-content {
            width: 100%;
            font-size: 0.75em;
            text-align: left;
            margin: 1rem 0;
          }
        }
      }
    }
  }

  #aboutus {
    .about-image {
      margin: auto;
      --image-size: 95vw;
      width: var(--image-size);
      height: var(--image-size);

      .image-wrapper {
        width: var(--image-size);
        height: var(--image-size);
      }
    }
  }

  .facilities {
    .wrapper {
      .flex {
        h1 {
          margin: auto;
          text-align: center;
        }
        h3 {
          font-size: 1em;
        }
        ul {
          gap: 2rem 0rem;
          // border: 1px solid black;
          // justify-content: space-between;
          // flex-direction: column;
          width: fit-content;
          li {
            flex: 1 0 45%;
            width: fit-content;
            padding: 0;
            background: transparent;
          }
        }
      }

      .facilities_img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// ================ Footer ================
.footer {
  background-color: #24262b;
  padding: 70px 0 10px 0;
  margin-top: 2rem;

  .inner-container {
    max-width: 1170px;
    margin: auto;

    .row {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .footer-col {
        width: 25%;
        padding: 0 15px;

        h4 {
          font-size: 18px;
          color: #ffffff;
          text-transform: capitalize;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
        }

        h4::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          background-color: var(--palette-primary-orange);
          height: 2px;
          box-sizing: border-box;
          width: 50px;
        }

        ul {
          list-style: none;

          li {
            a {
              font-size: 16px;
              text-transform: capitalize;
              color: #ffffff;
              text-decoration: none;
              font-weight: 300;
              color: #bbbbbb;
              display: block;
              transition: all 0.3s ease;
            }

            a:hover {
              color: #ffffff;
              padding-left: 8px;
            }
          }

          li:not(:last-child) {
            margin-bottom: 10px;
          }
        }

        .social-links {
          a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
          }

          a:hover {
            color: #24262b;
            background-color: #ffffff;
          }
        }

        .nav-logo {
          display: flex;
          flex-direction: row;
          margin: 0 0 2rem 0;

          img {
            width: 43.154px;
            height: 44px;
          }

          p {
            color: #ffffff;
            font-size: 16px;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            letter-spacing: 0.3px;
            margin: 0.02rem 0.3rem;
          }

          .demo {
            font-size: 12px;
          }

          span {
            display: block;
            width: 45px;
            height: 2px;
            background: #fd8106;
            margin: 0 0 0 5px;
          }
        }
      }
    }
  }

  p.copyright-footer {
    text-align: center;
    padding: 10px 0 5px 0;
  }

  .footer-hr {
    display: block;
    margin: 60px 0px 20px;
    width: 100%;
    height: 0.1px;
    z-index: 10;
    background-color: #ffffff;
    // color: #ffffff;
  }
  .copyright-footer {
    color: #ffffff;
    font-size: 0.8rem;
  }
}

/*responsive*/
@media only screen and (max-width: 767px) {
  .footer {
    .inner-container {
      .row {
        .footer-col {
          width: 50%;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 574px) {
  .footer {
    .inner-container {
      .row {
        .footer-col {
          width: 100%;
        }
      }
    }
  }
}
